@font-face {
  font-family: "SFProDisplay-Black";
  src: url("./fonts/SFProDisplay-Black.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("./fonts/SFProDisplay-Semibold.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay-Medium";
  src: url("./fonts/SFProDisplay-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay-Heavy";
  src: url("./fonts/SFProDisplay-Heavy.ttf") format("ttf");
}
